<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>HelloWorld</servlet-name>
        <servlet-class>com.company.HelloWorldServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserInfo</servlet-name>
        <servlet-class>com.company.UserInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>com.company.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowRequestHeaders</servlet-name>
        <servlet-class>com.company.ShowRequestHeadersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LargeServletPage</servlet-name>
        <servlet-class>com.company.LargeServletPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AutoRefreshPage</servlet-name>
        <servlet-class>com.company.AutoRefreshPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SecuredServlet</servlet-name>
        <servlet-class>com.company.SecuredServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ErrorHandlerServlet</servlet-name>
        <servlet-class>com.company.ErrorHandlerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Step2</servlet-name>
        <servlet-class>com.company.Step2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Preview</servlet-name>
        <servlet-class>com.company.Preview</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AutoRefreshPage</servlet-name>
        <url-pattern>/autorefreshpage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HelloWorld</servlet-name>
        <url-pattern>/helloworld</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserInfo</servlet-name>
        <url-pattern>/userinfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowRequestHeaders</servlet-name>
        <url-pattern>/showrequestheaders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LargeServletPage</servlet-name>
        <url-pattern>/largeservletpage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SecuredServlet</servlet-name>
        <url-pattern>/SecuredServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ErrorHandlerServlet</servlet-name>
        <url-pattern>/ErrorHandlerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Step2</servlet-name>
        <url-pattern>/Step2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Preview</servlet-name>
        <url-pattern>/Preview</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>Authenticate</filter-name>
        <filter-class>com.company.AuthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Authenticate</filter-name>
        <url-pattern>/SecuredServlet</url-pattern>
    </filter-mapping>

    <error-page>
        <location>404</location>
        <location>/ErrorHandlerServlet</location>
    </error-page>
    <error-page>
        <location>401</location>
        <location>/ErrorHandlerServlet</location>
    </error-page>

</web-app>